# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
*.java
*.png
*.csv
testing*
*.html
*.jpg
*.swp
nul

# My configurations:
db.ini
settings.json

# dir
/tmp*
/.vscode/
